@import 'variables.scss';
$placeholder-grey: #aaa;

.title-input {
  display: flex;
  flex-direction: column;
  button {
    margin: 40px;
  }
}

.title-input-wrapper {
  position: relative;

  &:focus-within {
    i {
      visibility: hidden;
    }
  }
  input {
    font-size: 48px;
    outline: none;
    text-align: left;
    background-color: transparent;
    border: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $placeholder-grey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $placeholder-grey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $placeholder-grey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #777;
    }
  }
  i {
    position: absolute;
    top: -5px;
    right: -20px;
    color: $placeholder-grey;
  }
}

.date-input {
  input {
    font-size: 20px;
    width: 200px;
  }
}

.problem-edit {
  .problem-edit-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      background-color: $red;
    }
  }
  .problem-edit-main {
    padding: 5px 0;
    input {
      margin: 10px 0;
      border: none;
      font-size: 16px;
      outline: none;
    }
    i {
      color: #777;
      padding: 0 5px;
    }
  }
  .hidden {
    visibility: hidden;
  }
  .problem-edit-main.addPupil {
    padding: 5px 0;
    margin: 0 auto;
    width: 60%;
    input {
      min-width: 400px;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid $placeholder-grey;
      font-size: 16px;
      outline: none;
    }
    i {
      color: #777;
      padding: 0 5px;
    }
  }
  .hidden {
    visibility: hidden;
  }
}

.class-edit-wrapper {
  text-align: center;
}
