section.hero.is-fullheight {
  video {
    position: absolute;
    top: 0;
    bottom: 4;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 100vh;
  }
  .hero-body {
    div.container {
      padding-bottom: 100px;
      h1, h2 {
      color: white;
      font-family: 'Varela Round', sans-serif;
      }
      a {
        font-weight: bold;
      }
      div.home-links {
        display: flex;
        flex-direction: column;
        div {
          .button {
            margin: 10px;
          }
        }
        .register-link {
          color: #fefefe;
          text-decoration: underline;
          drop-shadow: 10px;
        }
      }
    }
  }
}
