@import 'partials/variables.scss';

main {
  padding: 30px 0;
}

.main-title {
  text-align: center;
  padding: 20px;
  margin: 0 0 10px 0;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-width {
  width: 50%;
}

.form-error {
  color: tomato;
}

.pupil-index-list {
  display: flex;
  justify-content: center;
}

.with20margin {
  margin: 20px;
}

.is-success {
  background-color: $theme-green !important;
}

.red-circle {
  display: inline-block;
  border-radius: 100%;
  background-color: red;
  width: 10px;
  height: 10px;
}

.green-circle {
  display: inline-block;
  border-radius: 100%;
  background-color: green;
  width: 10px;
  height: 10px;
}
